<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading">
  <mat-card-header><h1 class="mat-h1">{{ recipe?.title }}</h1></mat-card-header>
  <mat-card-content>
    <p>Time to cook: {{ recipe?.time }} minutes</p>
    <h3 class="mat-h3">Ingredients</h3>
    <p>{{ recipe?.ingredients }}</p>
    <h3 class="mat-h3">Instructions</h3>
    <p>{{ recipe?.instructions }}</p>
    <h3 class="mat-h3">Difficulty</h3>
    <div [ngSwitch]="recipe?.difficulty" style="margin-bottom: 2em;">
      <div *ngSwitchCase="1">
        <span class="fa fa-burn"></span>
      </div>
      <div *ngSwitchCase="2">
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
      </div>
      <div *ngSwitchCase="3">
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
      </div>
      <div *ngSwitchCase="4">
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
      </div>
      <div *ngSwitchCase="5">
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
        <span class="fa fa-burn"></span>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="onModify()">Modify</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    <p>{{ errorMessage }}</p>
  </mat-card-content>
</mat-card>
